<dx-data-grid
  id="grid"
  [dataSource]="employeeStatuses"
  [repaintChangesOnly]="true"
  [showBorders]="true"
  (onRowInserted)="onRowInserted($event)"
  (onRowUpdated)="onRowUpdated($event)"
  (onRowRemoved)="onRowRemoved($event)"
>
  <dxo-scrolling mode="virtual"></dxo-scrolling>
  <dxo-editing
    mode="cell"
    [allowAdding]="true"
    [allowUpdating]="true"
    [allowDeleting]="true"
  >
  </dxo-editing>
  
  <!-- Kolom read-only -->
  <dxi-column dataField="createdAt" caption="Created At" dataType="date" [allowEditing]="false"></dxi-column>
  <dxi-column dataField="createdBy" caption="Created By" dataType="string" [allowEditing]="false"></dxi-column>
  <dxi-column dataField="updatedAt" caption="Updated At" dataType="date" [allowEditing]="false"></dxi-column>
  <dxi-column dataField="updatedBy" caption="Updated By" dataType="string" [allowEditing]="false"></dxi-column>
  
  <!-- Kolom yang dapat diedit -->
  <dxi-column dataField="employeeStatusName" caption="Employee Status Name" dataType="string"></dxi-column>
  <dxi-column dataField="employeeStatusType" caption="Employee Status Type" dataType="string"></dxi-column>
  <dxi-column dataField="duration" caption="Duration"></dxi-column>
  <dxi-column dataField="isPKWTCompensation" caption="Is PKWT Compensation" dataType="boolean">
    <dxo-lookup
      [dataSource]="[
        { value: true, text: 'True' },
        { value: false, text: 'False' }
      ]"
      displayExpr="text"
      valueExpr="value"
    ></dxo-lookup>
  </dxi-column>
  <dxi-column dataField="isProbation" caption="Is Probation" dataType="boolean">
    <dxo-lookup
      [dataSource]="[
        { value: true, text: 'True' },
        { value: false, text: 'False' }
      ]"
      displayExpr="text"
      valueExpr="value"
    ></dxo-lookup>
  </dxi-column>
  
  <dxi-column dataField="id" caption="ID" dataType="string" [allowEditing]="false"></dxi-column>
  
  <dxi-column type="buttons">
    <dxi-button name="delete" icon="trash" [hint]="'Delete'"></dxi-button>
  </dxi-column>
</dx-data-grid>
